.footer {
  padding: 32px 0;
  background: $dark;
  &__title {
    color: $light;
    text-align: center;
    margin-bottom: 32px;
  }
  &__form_input {
    padding: 0px 16px;
    height: 35px;
    width: 100%;
    &::placeholder {
      color: $dark;
    }
  }
  &__form_btn {
    background: $default;
    color: $light;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: .35s;
    &:hover {
      background: $default_d4;
      transition: .35s;
    }
  }
  &__form_label {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-top: 16px;
    > .footer__form_checkbox:checked + .footer__form_checkbox-span::after {
      content: "";
      position: absolute;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      left: 3px;
      top: 50%;
      width: 13px;
      height: 9px;
      border-radius: 1px;
      border-left: 3px solid $error;
      border-bottom: 3px solid $error;
      transform: translate(0,-66%) rotate(-45deg);
    }
  }
  &__form_checkbox {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &__form_checkbox-span {
    display: block;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 0.5px solid $dark_5;
    background: $light;
    position: relative;
  }
  &__form_label_link {
    color: $light;
  }
}
@media screen and (max-width: 993.5px) {
  .footer__form_input {
    margin-bottom: 16px;
  }
  //.footer__form_label {
  //  margin-top: 0;
  //}
}